@import '../../sass/mixins.scss';

.add-text {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 16px;
  margin-bottom: 28px;
  position: relative;
  align-items: center;
}

.validation-error {
  @include validation();
}
