@import '../../sass/variables';
@import '../../sass/common/button.scss';
@import '../../sass/mixins.scss';

.form {
  display: grid;
  grid-template-columns: 655px 1fr;
  column-gap: 25px;
  row-gap: 16px;
  position: relative;
}

.validation-error {
  @include validation();
}

.form__submit {
  width: 100%;
}
