@import '../../sass/variables';
@import '../../sass/common/button.scss';

.form {
  margin-bottom: 132px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__container {
  display: grid;
  grid-template-columns: 655px 1fr;
  column-gap: 25px;
  row-gap: 16px;
}

.form__input {
  padding: 17px 20px;
  border-radius: 12px;
  background-color: $field-bg-color;
  border: none;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  width: 100%;

  &::placeholder {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
  }
}

.form__submit {
  width: 100%;
}
