@import '../../sass/variables.scss';

.error {
  position: fixed;
  top: 30px;
  right: 30px;
  padding: 15px;
  background-color: $error-color;
  color: #ffffff;
  border-radius: 12px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
