.add-text__container {
  display: grid;
  grid-template-columns: 655px auto;
  column-gap: 25px;
  row-gap: 16px;
  margin-bottom: 28px;
}

.add-text__text-label {
  padding-left: 60px;
  padding-right: 60px;
  margin-right: 25px;
}
