@import '../../sass/variables.scss';

.dropdown {
  background-color: $bg-light;
  width: 100%;
  border-radius: 12px;
}

.dropdown__input .MuiInputLabel-root {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  padding-left: 6px;
}

.dropdown .MuiInputBase-root {
  border-radius: 12px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
  line-height: 38px;
}

.dropdown__input .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #000000;
}

.dropdown__input .MuiSvgIcon-root {
  fill: #484848;
}

.dropdown .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
}
