@import '../../sass/mixins.scss';
@import '../../sass/common/label-placeholder.scss';

.field-group {
  margin: 0;
  position: relative;
  width: 100%;

  &--title {
    grid-area: 1/2/2/-1;
  }

  &--author {
    grid-area: 2/1/3/3;
  }
}

.field {
  @include field();
}
