@import '../../sass/mixins.scss';

.field-group {
  margin: 0;
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;

  &--title {
    grid-area: 1/2/2/-1;
  }

  &--author {
    grid-area: 2/1/3/3;
  }
}

.field-group__wrapper {
  font-size: 1.25rem;
  min-height: 1.25em;
  grid-area: 1/-1;
  position: relative;
  pointer-events: none;
}

.field {
  grid-area: 1/-1;
  @include field();
}
