@import '../../sass/variables.scss';

.table {
  margin-bottom: 32px;
  font-size: 1.25rem;
  line-height: 1.3;
  color: #4e4e53;
  background-color: $basic-color;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.table__caption {
  font-size: 1.5rem;
  line-height: 1.29;
  font-weight: 700;
  color: $basic-dark-color;
  margin-bottom: 1.33em;
  text-align: left;
}

.table__row {
  &:nth-child(even) {
    background-color: #c7d3e0;
  }

  &:nth-child(odd) {
    background-color: $bg-light-color;
  }
}

.table__row--head {
  font-weight: 700;
}

.table__cell {
  padding: 0.2em 0.45em 0.2em 0.65em;

  &:first-child {
    width: 300px;
  }

  &:nth-child(2) {
    border-left: 1px solid #bbc7d4;
    border-right: 1px solid #bbc7d4;
  }

  &:nth-child(3) {
    width: 195px;
  }
}

.table__row--head .table__cell {
  &:first-child {
    border-top-left-radius: 0.75rem;
  }

  &:last-child {
    border-top-right-radius: 0.75rem;
  }
}

.table__row:last-child .table__cell {
  &:first-child {
    border-bottom-left-radius: 0.75rem;
  }

  &:last-child {
    border-bottom-right-radius: 0.75rem;
  }
}

.table__container {
  min-height: 62px;
  display: flex;
  align-items: center;
}

.table__link {
  background-color: inherit;
  border: none;
  font: inherit;
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
    color: #c16800;
  }
}

// pagination

.main .MuiPagination-root {
  display: flex;
}

.main .MuiPagination-ul {
  width: auto;
  margin: 0 auto;
}

.main .MuiPaginationItem-root {
  background-color: #ffffff;
  color: #4e4e53;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.063rem;
  line-height: 1.3;
  border-radius: 0.5rem;
  width: 40px;
  height: 40px;
  margin: 5px;

  &.Mui-selected {
    background-color: $basic-dark-color;
    color: #ffffff;
    border: none;
  }

  &:hover {
    background-color: #b0b0b0;
  }

  &:active {
    background-color: #88888d;
  }
}
