@import '../../sass/variables';
@import '../../sass/mixins.scss';

.form {
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 16px;
  position: relative;
}

.validation-error {
  @include validation();
}

.form__submit {
  width: 100%;
}
