@import '../../sass/variables.scss';

.modal {
  position: absolute;
  width: 350px;
  height: 250px;
  background-color: $basic-color;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  line-height: 26px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  color: $basic-dark;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.25);
}

.modal__message {
  margin: 0;
  margin-top: 20px;
}

.modal__button {
}

.modal__acception {
  font-size: 22px;
}
