@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';

.select {
  background-color: $bg-light-color;
  width: 100%;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
}

.select__input .MuiInputLabel-root {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
  color: #000000;
  padding-left: 0.625rem;
}

.select .MuiAutocomplete-endAdornment {
  top: calc(50% - 1.125rem);
}

.select .MuiInputBase-root {
  border-radius: 0.75rem;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.25rem;
  line-height: 1.9;
}

.select--required .MuiFormLabel-root {
  @include asterisk();
}

.select__input .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #000000;
}

.select__input .MuiSvgIcon-root {
  fill: #484848;
}

.select .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
}
