@import '../variables.scss';

.title {
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
  text-align: left;
  color: $basic-dark-color;
  margin: 0;
  margin-bottom: 0.889em;
}
