@import '../../sass/variables.scss';

.text {
  margin-top: 16px;
  background-color: $bg-light;
  border-radius: 12px;
  color: #000000;
  padding: 42px 60px 32px;
}

.text__header {
  font-size: 24px;
  line-height: 31px;
  display: block;
}

.text__author {
  margin: 0;
  margin-bottom: 31px;
}

.text__title {
  font: inherit;
  margin: 0;
  margin-bottom: 31px;
}

.text__year {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 31px;
}

.text__body {
  white-space: pre-wrap;
  font-size: 20px;
  line-height: 26px;
}
